.fundo{
  background: url(src/assets/img/gym.jpg) no-repeat;
  min-height: 100vh;
  display: flex;
  background-size: 1920px 1080px;

}

.maq1{
  position: absolute;
  top:47.5%;
  left: 27%;
  transition: all 0.7s ease;
}
.maq1:hover
{
  transform:scale(1.2);
}
.maq2{
  position: absolute;
  top:47.9%;
  left: 69.5%;
  transition: all 0.7s ease;
}
.maq2:hover
{
  transform:scale(1.2);
}
