 <div class="fundo">
  <div class="card card-container">
   <h3 class="titulo">
     Criar Arma
   </h3>
   <form class="form" method="POST">
    <div class="input">
      <input class="inp" type="text" name="nome" placeholder="Nome">
    </div>
    <div class="input">
      <input class="inp" type="text" name="Atk" placeholder="Ataque">
    </div>
    <div class="input">
     <input class="inp" type="text" name="durabilidade" placeholder="Durabilidade">
   </div>
   <div class="input">
     <input class="inp" type="text" name="tipoArma" placeholder="Tipo  de Arma">
   </div>
   <div class="input">
     <input class="inp" type="text" name="vida" placeholder="Vida">
   </div>
    <div class="logbtn">
      <button class="btn" (click)="criarArma()">
        Criar Arma
      </button>
    </div>
    <div class="logbtn">
     <button class="btn" [routerLink]="['/Cidade']" routerLinkActive="active">
       Voltar
     </button>
    </div>
  </form>
 </div>
 </div>
