<div class="fundo">
 <div class="card card-container">
  <h3 class="titulo">
    Criar Personagem
  </h3>
  <form class="form" method="POST">
    <div class="input">
      <input class="inp" type="text" name="nome" placeholder="Nome">
    </div>
    <div class="input">
      <input class="inp" type="text" name="Atk" placeholder="Ataque">
    </div>
    <div class="input">
     <input class="inp" type="text" name="inteligencia" placeholder="Inteligência">
   </div>
   <div class="input">
     <input class="inp" type="text" name="vida" placeholder="Vida">
   </div>
    <div class="logbtn">
      <button class="btn">
        Criar Personagem
      </button>
    </div>
    <div class="logbtn">
     <button class="btn" [routerLink]="['/Cidade']" routerLinkActive="active">Voltar</button> <br>
   </div>
 </form>
</div>
</div>
