@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.fundo{
  background: url(src/assets/img/erro.gif) no-repeat;
  min-height: 100vh;
  display: flex;
  background-size: 1920px 1080px;
  position: relative;
}

.page
{
  position: absolute;
  top:45%;
  left: 18.5%;
  font-size: 55px;
  font-family:  Dela Gothic One;
  color: white;
}
