.fundo{
  background: url(src/assets/img/cidade.jpg) no-repeat;
  min-height: 100vh;
  display: flex;
  background-size: 1920px 1080px;
  position: relative;
}

.loja{
  position: absolute;
  top:5.5%;
  left: 56.5%;
  cursor: pointer;
}

.treino{
  position: absolute;
  top:10%;
  left: 19.5%;
  cursor: pointer;
}

.arena{
  position: absolute;
  top:20%;
  left: 35.5%;
  cursor: pointer;
}

.btnper
{
  position: absolute;
  padding: 15px;
  margin: 90px;
  top: 0%;
  left: 0%;
  transition: all 0.7s ease;
}
.btnper:hover
{
  transform:scale(1.2);
}

.btnar
{
  position: absolute;
  padding: 15px;
  margin: 90px;
  top: 0%;
  left: 15%;
  transition: all 0.7s ease;
}

.btnar:hover
{
  transform:scale(1.2);
}


