<div class="fundo"></div>
<div class="loja"> <img src="assets/img/loja.png" (click)="entrarLoja()"></div>
<div class="treino"> <img src="assets/img/treino.png" (click)="entrarTreino()"></div>
<div class="arena"> <img src="assets/img/arena.png" (click)="entrarArena()"></div>
<button class="btnar btn-secondary" [routerLink]="['/Criar Arma']" routerLinkActive="active">
  Criar Arma
</button>
<button class="btnper btn-secondary" [routerLink]="['/Criar Personagem']" routerLinkActive="active">
  Criar Personagem
</button>

